/******
	Add you style rules below in this file 
	
	Requirements:
	The main container should be 500px wide and centered.
	
	Colors:
	dark orange color: #DB4006
	light orange color: #ec9371

******/
.container {
	width: 500px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.item {
	transition: 0.3s;
	margin-top: 10px;

}

.description {
	background-color: #ec9371;
	padding: 15px;
	font-weight: 500;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.title {
	font-size: 20px;
	color: #FFF;
	background-color: #DB4006;
	margin: 0;
	padding: 10px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.close {
	cursor: pointer;
}

#newtitle {
	margin: 0 auto;
	border-color: #DB4006
}

.btn-primary,
.btn-primary:hover {
	background-color: #000;
	border-color: transparent;
}

.input-group {
	margin-top: 20px;
}